
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// icon
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Materialize
@import 'materialize';

// Add custom Styles
@import 'custom';

/*// Bootstrap
@import '~bootstrap/scss/bootstrap';*/

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
