/*Variables*/
/*$blue: #3100c3;*/
$blue: #0843a6;
$grey: #9f9f9f;
$black: #212121;
$font : "Roboto";

@font-face {
  font-family: alpine-vision;
  src: url("../../public/css/AlpineVision-Regular.woff");
}
@font-face {
  font-family: alpine-air;
  src: url("../../public/css/AlpineAscensionAir-Regular.woff");
}
@font-face {
  font-family: alpine-air-light;
  src: url("../../public/css/AlpineAscensionAir-Light.woff");
}

.font-alpine{
  font-family: alpine-vision;
}
.font-alpine-air{
  font-family: alpine-air;
}
.font-alpine-light{
  font-family: alpine-air-light;
}

body {
  font-family: $font;
}
/*Headings
@mybtn($width, $height, $padding){
  width: $width;
  height: $height;
}
.btn-small{
  @include mybtn(120px,40px,10px);
}
.btn-large{
  @include mybtn(240px,80px,20px);
}
*/

// navbar
.btn-nav {
  background: $blue !important;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: $blue;
}

.brand-logo {
  margin-left: 2%;
}

#dropdown1 {
  top: 63.5px !important;
  opacity: 0.9 !important;
  width: 153.5px !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 16px;
  color: $blue;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.A10 {
  width: 100%;
  margin-top: -5%;
}

.rgba-blue-strong, .rgba-blue-strong::after {
  background: transparent;
}

.navbar-scroll {
  background-color: $blue;
  box-shadow: -2px 15px 40px -26px rgba(0, 0, 0, 1);
}

.navbar.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
  padding-bottom: 16px;
}

//Home effect

h1{
  margin: 0;
}

@media screen and (min-width: 992px) {
  #menu.toMenu {
    left: 20px;
    bottom: 20px;
    background-color: #0843a6;
    color: white;
    opacity: 1;
    width: 7vh;
    height: 7vh;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    border: 0 solid white;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    padding-top: 6px;
  }
}

@media screen and (max-width: 992px) {
  #test, .PreHome, #title, #triangle-up, #triangle-down, #button:focus,
  #menu:focus, #menuContent, #menuContent ul, #menuContent a, #menuContent a:hover, #menuContent li,
  #menuContent #menuClose, #menuContent #menuClose:hover, .krassInefade, #triangle-down.usenand, #triangle-up.usenand,
  #menu.toMenu, #menu.menuTransition, .boton, .botontext, .twist, .twist:before, .twist:after, .boton:hover .twist:before,
  .boton:hover .twist:after, .boton .botontext:nth-of-type(1), .boton:hover .botontext:nth-of-type(1), .boton .botontext:nth-of-type(2),
  .boton:hover .botontext:nth-of-type(2) {
    display: none;
  }
}

#test {
  width: 100%;
  position: fixed;
  z-index: 5;
 }

.PreHome {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}

#title{
  text-align: center;
  width: 100%;
  top: 15%;
  color: white;
  font-size: 3em;
  position: fixed;
  z-index: 6;
  font-weight: 900;
  text-transform: uppercase;
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid white;
  transition: 1.2s ease-in-out;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid white;
  transition: 1.2s ease-in-out;
  float: left;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

#button:focus,
#menu:focus {
  outline: 0;
}

#menuContent {
  position: fixed;
  width: 100%;
  height: 85%;
  display: none;
  text-align: center;
  z-index: 6;
  opacity: 1;
}

#menuContent ul, #menuContent a {
  font-size: 23px;
  font-weight: 900;
  height: 100%;
  color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-decoration:none;
  transition: 0.8s ease-in-out;
}

#menuContent a:hover{
  opacity:0.7;
  transition: 0.8s ease-in-out;
}

#menuContent li {
  margin-bottom: 20px;
  animation: itemsInefade 0.8s forwards;
  opacity: 0;
}

@keyframes itemsInefade {
  0% {
    opacity: 0;
    margin-left:60px;
  }
  100% {
    opacity: 1;
    margin-left:0;
  }
}
#menuContent li:nth-child(2) {
  animation-delay: .2s
}
#menuContent li:nth-child(3) {
  animation-delay: .4s
}
#menuContent li:nth-child(4) {
  animation-delay: .6s
}
#menuContent li:nth-child(5) {
  animation-delay: .6s
}

#menuContent #menuClose {
  position: absolute;
  top: 20px;
  right: 70px;
  color: white;
  font-size: 23px;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

#menuContent #menuClose:hover{
  opacity:0.8;
  transition: 0.8s ease-in-out;
}

.krassInefade {
  transform: perspective(900px) translateZ(0px);
  opacity: 1;
  transition: 1.2s ease-out;
}

#triangle-down.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-top: 100vh solid white;
  transition: 1.2s ease-in-out;
}

#triangle-up.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid white;
  transition: 1.2s ease-in-out;
}

#menu.menuTransition {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  border-radius: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
// End Prehome

.section5 {
  padding-bottom: 5%;
}

.section1{
  padding: 5% 0;
}

.section7{

}
.section8{
}
.section9{
  margin-bottom: 2%;
  position: relative;
}
.boton {
  bottom: 130px;
  left: calc(46% - 5.5vh);
  width: 200px;
  height: 50px;
  position: fixed;
  z-index: 6;
}

.botontext {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 6;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  text-transform: uppercase;
}

.twist {
  display: block;
  height: 100%;
  width: 25%;
  position: relative;
  float: left;
  margin-left: -4px;
}

.twist:before {
  content: "";
  width: 100%;
  height: 100%;
  background: lightgrey;
  bottom: 100%;
  position: absolute;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0,
          0, 0, -1, -0.003,
          0, 1, 0, 0,
          0, 0, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.twist:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  height: 100%;
  background: white;
  color: black;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0,
          0, 1, 0, 0,
          0, 0, 1, -0.003,
          0, -50, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.boton:hover .twist:before {
  background: $blue;
  transform: matrix3d(1, 0, 0, 0,
          0, 1, 0, 0,
          0, 0, 1, 0.003,
          0, 50, 0, 1);
}

.boton:hover .twist:after {
  background: $blue;
  transform: matrix3d(1, 0, 0, 0,
          0, 0, -1, 0.003,
          0, 1, 0, 0,
          0, 0, 0, 1);
}

.boton .twist:nth-of-type(1) {
  margin-left: 0;
}

.boton .twist:nth-of-type(1):before,
.boton .twist:nth-of-type(1):after {
  transition-delay: 0s;
}

.boton .twist:nth-of-type(2):before,
.boton .twist:nth-of-type(2):after {
  transition-delay: 0.1s;
}

.boton .twist:nth-of-type(3):before,
.boton .twist:nth-of-type(3):after {
  transition-delay: 0.2s;
}

.boton .twist:nth-of-type(4):before,
.boton .twist:nth-of-type(4):after {
  transition-delay: 0.3s;
}

.boton .botontext:nth-of-type(1) {
  color: white;
  bottom: 100%;
  transform-origin: center bottom 0px;
  transform: matrix3d(1, 0, 0, 0,
          0, 0, -1, -0.003,
          0, 1, 0, 0,
          0, 0, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.boton:hover .botontext:nth-of-type(1) {
  transform: matrix3d(1, 0, 0, 0,
          0, 1, 0, 0,
          0, 0, 1, 0.003,
          0, 50, 0, 1);
}

.boton .botontext:nth-of-type(2) {
  color: #212121;
  top: 100%;
  transform-origin: center top 0px;
  transform: matrix3d(1, 0, 0, 0,
          0, 1, 0, 0,
          0, 0, 1, -0.003,
          0, -50, 0, 1);

  -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
  transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.boton:hover .botontext:nth-of-type(2) {
  transform: matrix3d(1, 0, 0, 0,
          0, 0, -1, 0.003,
          0, 1, 0, 0,
          0, 0, 0, 1);
}
// End Home

// Slider
.section2 {
  .slides {
    background-color: white;
    margin: 0;
    height: 95vh !important;
    .responsive-img {
      box-shadow: inset 13px 0 0 446px rgba(0,0,0,0.3);
    }
  }
}

.slider {
  position: relative;
  height: 500px;
}

.slider .slides li .caption {
  color: white;
  font-family: alpine-vision;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
}

.slider .indicators {
  visibility: hidden;
}

.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 540px;
  overflow: hidden;
}

// Premiere section
@media screen and (min-width: 992px) {
  .img-entrer {
    background-image: url("../assets/sources-homepage/A110/test.png");
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.title-entrer {
  padding-top: 10px;
}

.text-entrer-p {
  padding-bottom: 15px;
  text-align: justify;
}


.text-entrer {
  margin: 5% 0;
  text-align: center;
  background-color: $blue;
  color: white;
  box-shadow: 2px 2px 2px $black;
  border-radius: 15px;
}

/* EFFECT TEXTE DYNAMIQUE
.console-container {
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  text-align: center;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}*/

//
.hero {
  position: relative;
  width: 100%;
  height: 700px;
  background: url("../assets/sources-homepage/galerie/A110_LEGENDE_1.jpg") no-repeat 100% 60% fixed;
  background-size: 100%;
  overflow: hidden;
  margin-top: -110px;
}
@media screen and (max-width: 992px) {
  .hero {
    height: 500px;
    background: url(../assets/sources-homepage/galerie/A110_LEGENDE_1.jpg) no-repeat 100% 0% fixed;
  }
}

.hero h1 {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  padding: .3em;
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
  color: white;
}

@media screen and (max-width: 992px) {
  .hero h1 {
    font-size: 30px;
  }
}

.content-wrapper {
  width: 80%;
  height: 3000px;
  padding: 1em 10%;
}

.content-wrapper h1 {
  margin: 0;
  color: rgb(220, 120, 0);
}

.home-title {
  font-family: "alpine-vision";
}

.img-design  {
  position: relative;
  z-index: 4;
  margin-top: 5%;
}

.block-img-design {
  height: 200px !important;
  border: 2px solid $blue;
  box-shadow: 2px 2px 2px $black;
}

@media screen and (max-width: 992px) {
  .cadre-img {
    width: 220px;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .test5 {
    display: none;
  }
}

.text-design-title {
  text-align: center;
}

.text-design {
  text-align: justify;
}

@media screen and (max-width: 992px) {
  .img-style-slide {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .baSlider {
    width: 100vw;
    height: 100vw;
    max-width: 880px;
    max-height: 500px;
    overflow: hidden;
    margin-left: 2% !important;
  }
}

  @media screen and (min-width: 1500px) {
    .baSlider {
      width: 100vw;
      height: 100vw;
      max-width: 880px;
      max-height: 500px;
      overflow: hidden;
      margin-left: 11% !important;
    }
  }

  figure.img-voiture-conception {
    background-image: url('https://alpinecars.com/alp-content/themes/alpine/pages/reveal/img/xray/alpine-bone.jpg');
    background-size: cover;
    position: relative;
    font-size: 0;
    width: 100%;
    height: 500px;
    margin: 0;

      > img {
        position: relative;
        width: 100%;
      }

      #divider {
        background-image: url('https://alpinecars.com/alp-content/themes/alpine/pages/reveal/img/xray/alpine-skin.jpg');
        background-size: cover;
        position: absolute;
        width: 50%;
        box-shadow: 0 5px 10px -2px rgba(0, 0, 0, .3);
        overflow: hidden;
        bottom: 0;
        height: 500px;
      }
    }



input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: -2rem;
  left: -2%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 102%;
  &:focus,
  &:active {
    outline: none;
  }
  &::active {
    border: none;
    outline: none;
  }
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: rgba(0, 124, 221, .35);
  border-radius: 0;
  cursor: grab;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: rgba(0, 124, 221, .35);
  border-radius: 0;
  cursor: grab;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background: rgba(0, 124, 221, .7);
  cursor: grabbing;
}
input[type="range"]:focus::-moz-range-thumb {
  background: rgba(0, 124, 221, .7);
  cursor: grabbing;
}

.conception-title2 {
  text-align: right;
}

.text-conception2 {
  text-align: right;
}

.text-conception {
  text-align: left;
}

.img-conception {
  background-size: cover;
  width: 100%;
  padding-top: 5%;
}

.conception-title  {
  font-family: "alpine-vision";
  text-align: center;
}

.motorisation-title {
  font-family: "alpine-vision";
  text-align: center;
  font-size: 30px;
}

.performance-title {
  margin-top: 10%;
  font-family: "alpine-vision";
  text-align: center;
  font-size: 30px;
}

.motorisation-texte {
  padding-bottom: 5px;
  text-align: justify;
}

@media screen and (max-width: 1400px) {
  .video {
    max-width: 100%;
    height: auto;
    border: 2px solid $blue;
    box-shadow: 2px 2px 2px $black;
    margin-left: 2%;
  }
}

@media screen and (min-width: 1500px) {
  .video {
    max-width: 100%;
    height: auto;
    border: 2px solid $blue;
    box-shadow: 2px 2px 2px $black;
    margin-left: 2%;
  }
}

.img-motorisation {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .agilite-section {
    margin-left: 3em;
    margin-right: 3em;
  }
}

// image effet motorisation
.grid {
  overflow: hidden;
  margin: 0;
/*  padding: 3em 0 0 0;*/
  width: 100%;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  height: 320px;
  background: white;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;

  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-layla {
  background: $grey;
}

figure.effect-layla img {
  min-width: 100%;
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
}

figure.effect-layla figcaption {
  padding: 5em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

figure.effect-layla figcaption::before {
  top: 50px;
  right: 30px;
  bottom: 50px;
  left: 30px;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
  top: 30px;
  right: 50px;
  bottom: 30px;
  left: 50px;
  border-right: 1px solid $blue;
  border-left: 1px solid $blue;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

figure.effect-layla h2 {
  padding-top: 26%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-layla p {
  padding: 0.5em 2em;
  text-transform: none;
  opacity: 0;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
  -webkit-transform: translate3d(0,-30px,0);
  transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
  opacity: 0.7;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

// img techonologie
.snip1482 {
  position: relative;
  margin: 10px 0px;
  min-width: 230px;
  min-height: 250px;
  width: 100%;
  color: #ffffff;
  line-height: 1.4em;
  background-color: $blue;
  font-size: 16px;
}
.snip1482 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1482 img {
  position: absolute;
  right: 0%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.snip1482 figcaption {
  position: absolute;
  width: 55%;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;
}
.snip1482 h2,
.snip1482 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.snip1482 h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.snip1482 p {
  font-size: 0.8em;
}
.snip1482 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1482:hover img,
.snip1482.hover img {
  width: 45%;
  right: 0%;
}
.snip1482:hover figcaption h2,
.snip1482.hover figcaption h2,
.snip1482:hover figcaption p,
.snip1482.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 450px;
}

@media screen and (min-width: 992px) {
  .img-interieur {
    background-image: url("../assets/sources-homepage/interieur/interieur_desktop.png");
    -webkit-background-size: cover;
    background-size: cover;
    margin: 5% 0;
  }
}

.text-interieur {
  margin: 5% 0;
  text-align: center;
  background-color: #0843a6;
  color: white;
  -webkit-box-shadow: 2px 2px 2px $black;
  box-shadow: 2px 2px 2px $black;
  border-radius: 15px;
}

@media screen and (max-width: 992px) {
  .text-entrer, .text-interieur {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}

/*.test {
  background-image: url("../../public/assets/sources-homepage/caractéristiques/dimensions-tech.png");
  background-size: cover;
  background-repeat: no-repeat;
}*/

.conception-img {
  border: 2px solid $blue;
  box-shadow: 2px 2px 2px #212121;
}

// Gallery
@media screen and (max-width: 992px) {
  .img-gallery-responsive {
    display: block;
    margin: auto;
    width: 275px;
  }
}

@media screen and (max-width: 1400px) {
  .gallery {
    width: 1000px !important;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 5% !important;
  }
}

@media screen and (min-width: 1400px) {
  .gallery {
    width: 1000px !important;
    border-radius: 3px;
    overflow: hidden;
    margin-left: 14% !important;
  }
}

.img-c {
  width: 275px;
  height: 270px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
  transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

@media screen and (max-width: 992px) {
  .img-c.active {
    width: 100% !important;
    height: 25% !important;
    position: absolute;
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  .img-c.active {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .conception-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  .motorisation-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .performance-title {
    font-size: 20px;
  }
}

.technologie-title {
  font-family: "alpine-vision";
  text-align: center;
}

@media screen and (max-width: 992px) {
  .technologie-title {
    font-family: "alpine-vision";
    text-align: center;
    font-size: 25px;
  }
}

.caracteristique-title {
  font-family: "alpine-vision";
  text-align: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 992px) {
  .caracteristique-title {
    font-family: "alpine-vision";
    text-align: center;
    font-size: 18px;
  }
}

.img-versions {
  width: 40% !important;
}

.versions-title {
  font-family: "alpine-vision";
  text-align: center;
  font-size: 35px;
  margin-left: -7% !important;
  margin-right: -7%;
}

.versions-title-block, .versions-title-block2 {
  text-align: center;
}

.text-versions, .text-versions2 {
  text-align: justify;
}

.img-svg-versions {
  margin-top: -15%;
}

svg {
  width: 800px;
  height: 450px;
}

@media screen and (max-width: 600px) {
  .img-versions {
   display: none;
 }
}

@media screen and (max-width: 600px) {
  .versions-title {
    font-family: "alpine-vision";
    font-size: 25px;
    margin-left: 37%;
  }
}

@media screen and (max-width: 992px) {
  svg {
    display: none;
  }
}

// CONFIGURATEUR
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select_modele_legende, .select_modele_pure, .select_color_blue, .select_color_black,
.select_rims_standardn, .select_rims_serac, .select_seat_dinamican,
.select_seat_perfore, .select_seat_confort, .select_seat_brun {
  width: 100%;
  border: 1px solid $blue;
  box-shadow: 1px 1px 1px $black;
  border-radius: 5%;
}

.padd-img-configurateur {
  padding: 3% 0;
}

.select_color_white, .select_rims_legend {
  width: 50%;
  border: 1px solid $blue;
  box-shadow: 1px 1px 1px $black;
  border-radius: 5%;
}

@media screen and (max-width: 600px) {
  .select_color_white, .select_rims_legend {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .title-configurateur {
    font-size: 23px;
  }
}

.select_rims_standard, .select_seat_dinamica {
  border: 1px solid $blue;
  box-shadow: 1px 1px 1px $black;
  border-radius: 5%;
}

ul {
  list-style-type: none;
}

.Equipements, .Accessories {
  li {
    display: inline-grid;
    display: -moz-inline-block;
  }
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

input[type="checkbox"][id^="bc"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 110px;
  width: 110px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 650px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

button:focus {
  outline: none;
  background-color: $blue;
}

.btn:hover, .btn-large:hover, .btn-small:hover, .btn-large:hover, .btn-small:hover {
  background-color: $grey;
}

.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: #fff;
  background-color: $blue;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.rgba-blue, .rgba-blue::after {
  background: transparent;
}

.title-configurateur {
  text-align: center;
  font-family: "alpine-vision";
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 60%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.title-equipement {
  text-align: center;
  border: 1px solid $blue;
  padding: 2% 0;
  border-radius: 10%;
}

.btn, .btn-large, .btn-small, .btn-flat {
  border: none;
  border-radius: 10%;
  display: inline-block;
  height: 40px;
  line-height: 37px;
  padding: 0px 50px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
}

.head-text-configurateur {
  text-align: center;
  padding: 5% 0;
  background: $blue;
  color: white;
}

.logo-configurateur {
  display: block;
  margin: auto;
  padding: 5% 0;
  width: 30%;
}

.head-configurateur {
  background-image: url("../assets/configurateur/head.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.marg-top-configurateur {
  margin-top: 5%;
}

/*@media screen and (min-width: 992px) {
  .fixe-carousel {
    position: fixed;
    width: 65%;
  }
}*/

.btn-configurateur {
  width: 100% !important;
}

.text-equipement-accessoires {
  text-align: center;
  font-style: italic;
}

.border-img-equpement {
  border: 2px solid $blue;
  box-shadow: 2px 2px 2px $black;
  border-radius: 10%;
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .fixed {
    position: fixed;
    left: 457px !important;
    width: 70% !important;
    top: 15%;
  }
}

@media screen and (min-width: 1500px) {
  .fixed {
    position: fixed;
    left: 535px !important;
    width: 70% !important;
    top: 15%;
  }
}



@media screen and (max-width: 992px) {
  .fixed {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .taille-head {
    height: 400px;
    margin-top: -5%;
  }
}

@media screen and (max-width: 992px) {
  .taille-head {
    height: 400px;
    margin-top: -16%;
  }
}

/*
// Footer
.footer #button{
  width:25px;
  height:25px;
  border: $blue 8px solid;
  border-radius:25px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover{
  width:35px;
  height:35px;
  border: #3A3A3A 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:0;
  left:0;
  position:fixed;
  width: 100%;
  height: 2em;
  overflow:hidden;
  margin:0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  background: $blue;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
.footer h5{
  color: white;
  font-size: 22px;
  font-weight: 100;
  margin-top:70px;
  margin-left:40px;
}

@media screen and (max-width: 992px) {
  .footer #button,
  .footer #button:hover,
  .footer,
  .footer:hover,
  .footer #container,
  .footer #cont,
  .footer_center,
  .footer h5 {
    display: none;
  }
}

.console-container {
  text-align:center;
  height:200px;
  width:550px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-size: 25px;
  font-weight: 100;
  margin-top:70px;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
}*/

.footer_center {
  background: $blue;
  text-align: center;
  padding: 5px 0;
}

.text-footer {
  color: white;
  font-size: 15px;
}

.width-button-collapsible {
  width: 100%;
}

.center-h4-collapsible {
  display: block;
  margin: auto;
}